bower_components/
tests/
tmp/
dist/

# dependencies
node_modules/
!tests/fixtures/**/node_modules

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
*.tgz

# other ember-cli dirs
addon/
app/
config/
tests/
vendor/

.eslintignore
.eslintrc.js
.bowerrc
.editorconfig
.ember-cli
.github
.gitignore
.travis.yml
.npmignore
.watchmanconfig
**/.gitkeep
bower.json
ember-cli-build.js
testem.js*
appveyor.yml
yarn.lock
